<%= form_for @note, url: '' do |form| %>
  <div >
    <%= form.text_area :body, placeholder: "Write a note" %>
  </div>
  <div class="actions">
    <%= form.submit 'Post Note', class: "btn waves-effect waves-light green lighten-3" %>
  </div>
<% end %>
