<%= form_for @note, url: '' do |form| %>
  <div >
    <%= form.text_area :body, placeholder: "Write a note" %>
  </div>
    <%= form.submit 'Post Note', class: "btn green lighten-3", id: "note-button" %>


<% end %>
