<div id= "about-footer">
	<div>
		<a href="#"><p>Services</p></a>
		<a href="#"><p>Portfolio</p></a>
	</div>
	<div>
		<a href="#"><p>About</p></a>
		<a href="#"><p>New Proposal</p></a>
	</div>
	<div>
		<a href="#"><p>801.123.4567</p></a>
		<a href="#"><p>bmf@bigmout.com</p></a>
	</div>
		<p id= "about-copyright">C Copyright stuff and stuff 2017</p>
</div>