<div id= "header">
    <img class= "mega-nav" id="mega-title" src="/assets/cologo.png">
    <img class= "mega-nav" id="frog-pic" src="/assets/frog.png">

    <%= link_to ("<p class= 'mega-nav' id='nav-linkness'>About Us</p>".html_safe), about_path %>
    <%= link_to ("<p class= 'mega-nav' id='nav-linkness'>Contact</p>".html_safe), new_lead_path %>

    <%= link_to ("<p class='mega-nav' id='nav-linkness'>Featured Clients</p>".html_safe), portfolio_path %>
</div>
