<div id= "header">
  <img class= "mega-nav" id="mega-title" src="/assets/cologo.png">
  <img class= "mega-nav" id="frog-pic" src="/assets/frog.png">
  <a href="/about"><p class= "mega-nav" id="nav-linkness">About Us</p></a>
  <a href="/contact"><p class= "mega-nav" id="nav-linkness">Contact</p></a>
</div>