<div id= "header">
	<div id="bmf-pic-thing">
			
	</div>
	<div>
  </div>

  <div>
    <%= link_to ("<p class= 'mega-nav' id='nav-linkness'>About Us</p>".html_safe), about_path %>
    <%= link_to ("<p class= 'mega-nav' id='nav-linkness'>Contact</p>".html_safe), contact_path %>
    <!-- <%#= link_to ("<p class='mega-nav' id='nav-linkness'>Featured Clients</p>".html_safe), featured_clients_path %> -->
  </div>
</div>
