<div id= "header">
	<div id="bmf-pic-thing">
			<%= link_to image_tag('cologo.jpg'), root_path, class: 'mega-nav', id: "mega-title" %>
	</div>
	<div>
		<%= image_tag "frog.jpg", id: "frog-pic", class: "mega-nav" %>
  </div>

  <div>
    <%= link_to ("<p class= 'mega-nav' id='nav-linkness'>About Us</p>".html_safe), about_path %>
    <%= link_to ("<p class= 'mega-nav' id='nav-linkness'>Contact</p>".html_safe), contact_path %>
    <!-- <%#= link_to ("<p class='mega-nav' id='nav-linkness'>Featured Clients</p>".html_safe), featured_clients_path %> -->
  </div>
</div>
