<div id= "header">
	<div id="bmf-pic-thing">
		<%= link_to (image_tag "cologo.png"), root_path %>
	</div>
	<div>
		<%= image_tag "frog.png", id: "frog-pic",  class: "mega-nav" %>
  </div>

  <div id="about_contact">
    <%= link_to ("<p class='mega-nav' id='nav-linkness'>About Us</p>".html_safe), about_path %>
    <%= link_to ("<p class='mega-nav' id='nav-linkness'>Contact</p>".html_safe), contact_path %>
    <!-- <%#= link_to ("<p class='mega-nav' id='nav-linkness'>Featured Clients</p>".html_safe), featured_clients_path %> -->
  </div>
</div>
