
<div id="form_background">
    <div id="form_title">
        <h1>New Proposal</h1>
    </div>
    <div id="form_stuff">
        <div id="form_paragraph">
            <p>Please leave us your information, along with a brief description of the features you’d like your new website to have. We’ll get back to you with a quote in just a quick hop!</p>
        </div>
        <%= render 'form', lead: @lead %>
    </div>
</div>
