<ul class="collection with-header highlight z-depth-5">
  <li class="collection-header center">Time Saving Business Options</li> 
      <li class="collection-item center">create and access customized reports</li>
      <li class="collection-item center">easily manage inventory and product staging for sale</li>
      <li class="collection-item center">give employees a separate login to log hours worked and update project status</li>
      <li class="collection-item center">have GPS and order tracking</li>
      <li class="collection-item center">send email and text reminders to employees easily (even automatically)</li>
      <li class="collection-item center">implement almost anything else you can dream up!</li>
</ul>
