<ul class="collection with-header highlight z-depth-5">
  <li class="collection-header center">Software For Your Customers</li> 
      <li class="collection-item center">create an account for purchase history and order tracking</li>
      <li class="collection-item center">schedule an appointment</li>
      <li class="collection-item center">purchase your services or products with ease using secure online payments </li>
      <li class="collection-item center">chat with sales staff </li>
      <li class="collection-item center">promote their experience on social media with the click of a button </li>
      <li class="collection-item center">and so much more!</li>
</ul>