<div class="card">
  <div class="card-image">
    <%= image_tag "adamsBlog.png", alt: "adamsfamilyadventures.com" %>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Adams Family Adventures Blog<i class="medium material-icons right">arrow_drop_down_circle</i></span>
    <p><a href="http://adamsfamilyadventures.com/" target="_blank">Click to view website</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Adams Family Adventures Blog<i class="material-icons right">close</i></span>
    <h5><p>Take a gander into our blog. We hope to give you insight on starting a business, technology, diy’s, and pretty much anything that comes to our minds. Mostly we want to share this for our friends and family so they may keep in touch as everyone’s lives tend to take different paths.</p></h5>
  </div>
</div>
