<div class="card">
  <div class="card-image">
    <%= image_tag "xandertalks.png", alt: "xandertalkstech.com" %>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Xander Talks Tech<i class="medium material-icons right">arrow_drop_down_circle</i></span>
    <p><a href="http://xandertalkstech.com/" target="_blank">Click to view website</a></p>
  </div>
  <div class="card-reveal">
   <span class="card-title grey-text text-darken-4">Xander Talks Tech<i class="material-icons right">close</i></span>
   <h5><p>This is Xander Talks Tech. A website where you can find all your up-to-date tech needs, including information, reviews, and even tutorials. Check it out!</p></h5>
  </div>
</div> 
