<div class="card">
  <div class="card-image">
    <%= image_tag "bigmouthfrogdevelopment.png", alt: "bigmouthfrogdevelopment.com" %>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Big Mouth Frog Development<i class="medium material-icons right">arrow_drop_down_circle </i></span>
    <p><a href="http://bigmouthfrogdevelopment.com/" target="_blank">Click to view website</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Big Mouth Frog Development<i class="material-icons right">close</i></span>
    <h5><p>With Big Mouth Frog Development, your website is comprised of powerful web apps that empower your customers to: schedule an appointment, purchase your services or products with online payments, chat with sales, promote their experience with friends, and so much more!</p></h5>
  </div>
</div> 