<div class="mission-words">
  <h3>Let us do the hard work. Make owning a business fun again!</h3>
</div>

  <p><h4>With the press of a button our services allow you to:</h4></p> 
      <p>create and access customized reports</p>
      <p"center">easily manage inventory and product staging for sale</p>
      <p>give employees a separate login to log hours worked and update project status</p>
      <p class="center">have GPS and order tracking</p>
      <p class="center">implement almost anything else you can dream up!</p>
<br>
<br>
<div class="mission-words">
  <h5>With all of this streamlined you can go back to building your business, and pay attention to the little details that make you unique.</h5>
</div>