
<div id= "about-title">
	<h2>Meet the Team</h2>
</div>
<div id= "white-tile">
	<div id= "frogs">
		<h2>Jared Lund</h2>
		<h4>Founder</h4>
		<p>Hi, I'm Jared! I'm super cool and I <br> look super young!</p>
	</div>
	<img id= "frogs" class= "pics" src="/assets/lily1.png">
</div>

<div id= "grey-tile">
	<img id= "frogs" class= "pics" src="/assets/lily2.png">
	<div id= "frogs">
	<h2>Alex Cortes</h2>
	<h4>Founder</h4>
	<p>Hi, I'm Jared! I'm super cool and I <br> look super young!</p>
	</div>
</div>

<div id= "white-tile">
<div id= "frogs">
	<h2>Elise Adams</h2>
	<h4>Founder</h4>
	<p>Hi, I'm Jared! I'm super cool and I <br> look super young!</p>
	</div>
	<img id= "frogs" class= "pics" src="/assets/lily3.png">
</div>

<div id= "grey-tile">
	<img id= "frogs" class= "pics" src="/assets/lily4.png">
	<div id= "frogs">
	<h2>Ryan Nygard</h2>
	<h4>Founder</h4>
	<p>Hi, I'm Jared! I'm super cool and I <br> look super young!</p>
	</div>
</div>

<div id= "white-tile">
<div id= "frogs">
	<h2>Aaron Anderson</h2>
	<h4>Founder</h4>
	<p>Hi, I'm Jared! I'm super cool and I <br> look super young!</p>
	</div>
	<img id= "frogs" class= "pics" src="/assets/lily5.png">
</div>

<div id= "grey-tile">
	<img id= "frogs" class= "pics" src="/assets/lily6.png">
	<div id= "frogs">
	<h2>Daniel Coley</h2>
	<h4>Founder</h4>
	<p>Hi, I'm Jared! I'm super cool and I <br> look super young!</p>
	</div>
</div>

