<img id="drop-pic" src="/assets/dropgr.jpg">

<div id="white-tile">
	<h1 class="mission-words">Our Misson</h1>
	<h5 class="mission-words">Our mission is to have a very generic mission<br>We have so much fun!</h5>
</div>
<div id="lilly-service">
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div id="white-tile">

	<h5 id="quote-home" class="mission-words">I love Big Mouth Frog! they love to help me with my bussiness<br>We have so much fun! - David Bowie</h5>
</div>
<div id="box-service">
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div id="white-tile">

	<h5 id="quote-home" class="mission-words">I love Big Mouth Frog! they love to help me with my bussiness<br>We have so much fun! - David Bowie</h5>
</div>