<img id="drop-pic" src="/assets/dropgr.jpg">

<div id="white-tile">
	<h1 class="mission-words">Our Misson</h1>
	<h5 class="mission-words">Your business is your life, and we are devoted to helping it succeed through<br>our incredible website design, with a beautiful website your company<br>will grow and lead to the life and dreams you desire. </h5>
</div>
<div id="lilly-service">
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<div id="white-tile">

	<h5 id="quote-home" class="mission-words">With the right website your company will grow exponentially.<br> By creating a website which can automate many of your job duties as an owner<br>while looking good at the same time.<br>Making more while working less sounds like a win win!</h5>
</div>
<div id="box-service">

	<%= image_tag "groupFrog.jpg", class: "groupPhoto" %>
<!-- 	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="lilly-row">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div> -->
</div>
<div id="white-tile">

	<h5 id="quote-home" class="mission-words">Customer/employee portals, blogs, comment sections, <br>automated emails and texts, online payments, and more! <br> We can create anything you need for your website!</h5>
</div>