   
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row">
  <div class="col m6">
        <div class="card">
          <div class="card-image">
            <%= image_tag "adamsBlog.png", alt: "adamsfamilyadventures.com" %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Adams Family Adventures Blog<i class="medium material-icons right">arrow_drop_down_circle</i></span>
            <p><a href="http://adamsfamilyadventures.com/" target="_blank">Click to view website</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Adams Family Adventures Blog<i class="material-icons right">close</i></span>
            <h5><p>Take a gander into our blog. We hope to give you insight on starting a business, technology, diy’s, and pretty much anything that comes to our minds. Mostly we want to share this for our friends and family so they may keep in touch as everyone’s lives tend to take different paths.</p></h5>
          </div>
        </div>


     <div class="card">
          <div class="card-image">
            <%= image_tag "xandertalks.png", alt: "xandertalkstech.com" %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><i class="medium material-icons right">arrow_drop_down_circle</i></span>
            <p><a href="http://xandertalkstech.com/" target="_blank">Click to view website</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Xander Talks Tech<i class="material-icons right">close</i></span>
            <h5><p>This is Xander Talks Tech. A website where you can find all your up-to-date tech needs, including information, reviews, and even tutorials. Check it out!</p></h5>
          </div>
        </div>

  </div>

<div class="row">
  <div class="col m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "bigmouthfrogdevelopment.png", alt: "bigmouthfrogdevelopment.com" %>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Big Mouth Frog Development<i class="medium material-icons right">arrow_drop_down_circle </i></span>
          <p><a href="http://bigmouthfrogdevelopment.com/" target="_blank">Click to view website</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Big Mouth Frog Development<i class="material-icons right">close</i></span>
          <h5><p>With Big Mouth Frog Development, your website is comprised of powerful web apps that empower your customers to: schedule an appointment, purchase your services or products with online payments, chat with sales, promote their experience with friends, and so much more!</p></h5>
        </div>
      </div> 

<!--       <div class="card">
          <div class="card-image">
            <%= image_tag "", alt: "" %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><i class="medium material-icons right">arrow_drop_down_circle</i></span>
            <p><a href="http://adamsfamilyadventures.com/" target="_blank">Click to view website</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <h5><p></p></h5>
          </div>
        </div> -->
  </div>
</div>