   
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="portfolio-background">
  <div class="container featured-content">
    <div class="row">
      <div class="col s12 m6 "><%= render 'featured_adams' %></div>
      <div class="col s12 m6"><%= render 'featured_bmfd' %></div>
      <div class="col s12 m6"><%= render 'featured_xander' %></div>

      <%# This is now fully responsive, just add the featured cards as partials (making sure that those cards follow the exact same layout as prior cards) and render them like the above, and add as many as you need! %>

    </div>
  </div>
</div>