@import "gritter";

#header {
	height: 10%;
	width: 100%;
	background-color: black;
	display: inline-block;
}

#header div {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
}

#bmf-pic-thing {
	margin-right: 15%;
}

.mega-nav {
	display: inline-block;
	color: white;
}

#mega-title {
	margin-right: 15%;
}

#about_contact {
	font-family: 'Open sans', sans-serif;
	font-size: 1.5em;
	float: right;
	margin-right: 27%;
	margin-top: 4.5%;
}

#nav-linkness {
	margin-left: 20px;
}

.link {
  color: white;
  font-size: 1.5em;
  margin-left: 3%;
}

#drop-pic {
	width: 100%;
	height: 30%;
}


.mission-words {
	text-align: center;
	color: #4da76e;
	padding-top: 2%;
}

.mission-words h1 {
	font-family: 'Open Sans', sans-serif;
}

.mission-words h5 {
	font-family: 'Bellefair', serif;
	margin-top: 3%;
	margin-bottom: 5%;
	padding-bottom: 5%;
}

#lilly-service {
	width: 100%;
	height: auto;
	background-color: rgba(77, 167, 110, .9);
	padding-bottom: 1%;
}

#box-service {
	width: 100%;
	height: auto;
	background-color: #a5a5a5;
	padding-top: 1%;
}

#quote-home {
	padding: 5%;
	font-family: 'Bellefair', serif;
}

#lilly-row {
	text-align: center;
	padding-top: 1%;
}

#lilly-row div {
	height: 170px;
	width: 170px;
	display: inline-block;
	margin: auto;
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 10px;
}

#lilly-row img {
	padding: 5%;
	max-height: 170px;
	max-width: 170px;
	margin: auto;padding-left: 10px;
	position: relative;
}

.low-margin {
	width: 90%;
}

@media only screen and (max-width: 882px) {

#lilly-service {
	height: 90%;
}

}

@media only screen and (max-width: 500px) {

#lilly-row div {
	height: auto;
	width: 170px;
	margin-bottom: 2%;
}

#lilly-service {
	height: auto;
	padding: 5% 0 5% 0;
}

#box-service {
	height: 40%;
}

}

.groupPhoto {
	border-radius: 10px;
	width: 60%;
	text-align: center;
	max-height: 500px;
}

#grouppic {
	text-align: center;
	padding-bottom: 5%;
}

#box-service h3 {
	text-align: center;
	color: white;
	font-family: 'Open sans', sans-serif;
}

#sample-header {
	height: 100px;
	background-color: black;
	width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

}

#about-title {
	color: grey;
	font-family: courier;
	text-align: center;
	font-size: 1.5em;
	padding-top: 15px;
}

#white-tile {
	height: auto;
	width: 100%;
  position: relative;
}

#white-tile h2 {
	padding-top: 3%;
}

#white-tile h2, h4, p {
	color: #4da76e;
}

#white-tile h2 {
	font-size: 30px;
}

#white-tile h4 {
	font-size: 20px;
}


#white-tile p {
	width: 300px;
}

#grey-tile h2 {
	color: #4da76e;
}

#grey-tile h2, h4, p {
	color: #4da76e;
}

#grey-tile p {
	width: 300px;
}

#grey-tile {
	height: 450px;
	background-color: #f4f7f5;
	width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#grey-tile h2 {
	font-size: 30px;
}

#grey-tile h4 {
	font-size: 20px;
}

.pics {
  max-height: 350px;
  max-width: 350px;
	margin-top: 4%;
}

#frogs {
	margin-left: 18%;
	display: inline-block;
}

#about-footer {
  text-align: center;
	height: 300px;
	background-color: #4da76e;
	width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  font-family: 'Open sans', sans-serif;
}

#about-footer div {
	display: inline-block;
	margin: 20px 50px
}

#about-footer div p {
	color: white;
	font-size: 1.5em;
	width: 200px;
}

#about-footer a {
	text-decoration: none;
}

#about-copyright {
	text-align: center;
	background-color: #4da76e;
	color: white;
}

@media only screen and (max-width: 1020px) {

#grey-tile {
	height: 650px;
}

}

@media only screen and (max-width: 800px) {

#grey-tile {
	height: 700px;
}

}

@media only screen and (max-width: 1219px) {

#about-footer {
	height: 50%;
}

}

@media only screen and (max-width: 855px) {

#about-footer {
	height: 50%;
}

}

@media only screen and (max-width: 555px) {

#about-footer {
	height: 50%;
}

}

#portfolio-wrapper {
	background-color: #4da76e;
}

.groupPhoto {
  height: 90%;
}


.employee {
	font-size: 15px;
}
